<section class="testimonial section-padding">
  <div class="container-fluid container-grid">
      <div class="row justify-content-center">
          <div class="col-xl-6">
              <div class="section-heading text-center mb-50">
                  <span class="subheading">Students Feedback</span>
                  <h2 class="font-lg">Our Students Says</h2>
              </div>
          </div>
      </div>
      <div class="row align-items-center">
          <div class="col-lg-12 col-xl-12">
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <div class="testimonial-item">
                              <div class="testimonial-inner">
                                  <div class="quote-icon"><i class="flaticon-left-quote"></i></div>

                                  <div class="testimonial-text mb-30">
                                      Cras vel purus fringilla, lobortis libero ut Proin a velit convallis, fermentum orci in, rutrum diam. Duis elementum odio a pharetra commodo.
                                  </div>

                                  <div class="client-info d-flex align-items-center">
                                      <div class="client-img">
                                          <img src="assets/images/clients/testimonial-avata-01.jpg" alt="" class="img-fluid">
                                      </div>
                                      <div class="testimonial-author">
                                          <h4>Cory Zamora</h4>
                                          <span class="meta">Marketing Specialist</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="testimonial-item">
                              <div class="testimonial-inner">
                                  <div class="quote-icon"><i class="flaticon-left-quote"></i></div>

                                  <div class="testimonial-text  mb-30">
                                      Cras vel purus fringilla, lobortis libero ut Proin a velit convallis, fermentum orci in, rutrum diam. Duis elementum odio a pharetra commodo.
                                  </div>

                                  <div class="client-info d-flex align-items-center">
                                      <div class="client-img">
                                          <img src="assets/images/clients/testimonial-avata-02.jpg" alt="" class="img-fluid">
                                      </div>
                                      <div class="testimonial-author">
                                          <h4>Jackie Sanders</h4>
                                          <span class="meta">Marketing Manager</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="testimonial-item">
                              <div class="testimonial-inner">
                                  <div class="quote-icon"><i class="flaticon-left-quote"></i></div>

                                  <div class="testimonial-text  mb-30">
                                      Cras vel purus fringilla, lobortis libero ut Proin a velit convallis, fermentum orci in, rutrum diam. Duis elementum odio a pharetra commodo.
                                  </div>

                                  <div class="client-info d-flex align-items-center">
                                      <div class="client-img">
                                          <img src="assets/images/clients/testimonial-avata-03.jpg" alt="" class="img-fluid">
                                      </div>
                                      <div class="testimonial-author">
                                          <h4>Nikolas Brooten</h4>
                                          <span class="meta">Sales Manager</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="testimonial-item">
                              <div class="testimonial-inner">
                                  <div class="quote-icon"><i class="flaticon-left-quote"></i></div>

                                  <div class="testimonial-text mb-30">
                                      Cras vel purus fringilla, lobortis libero ut Proin a velit convallis, fermentum orci in, rutrum diam. Duis elementum odio a pharetra commodo.
                                  </div>

                                  <div class="client-info d-flex align-items-center">
                                      <div class="client-img">
                                          <img src="assets/images/clients/testimonial-avata-03.jpg" alt="" class="img-fluid">
                                      </div>
                                      <div class="testimonial-author">
                                          <h4>Nikolas Brooten</h4>
                                          <span class="meta">Sales Manager</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                     data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                     data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>
