<div class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
    </div>
    <div>
      <h4 class="logo-text">Amdash</h4>
    </div>
    <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
    </div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li>
      <a href="/dashboard/stats" class="has-arrow">
        <div class="parent-icon"><i class='bx bx-home-circle'></i>
        </div>
        <div class="menu-title">Dashboard</div>
      </a>
      <a routerLink="/dashboard/profile">
        <div class="parent-icon"><i class="bx bx-user-circle"></i>
        </div>
        <div class="menu-title">Profile</div>
      </a>
      <a routerLink="/dashboard/messages" >
        <div class="parent-icon"><i class="bx bx-message-alt-detail"></i>
        </div>
        <div class="menu-title">Message</div>
      </a>

      <a routerLink="/dashboard/add-center" *ngIf="role == 'MANAGER'">
        <div class="parent-icon"><i class="bx bx-building-house"></i>
        </div>
        <div class="menu-title">Mes Centres</div>
      </a>
      <a routerLink="/dashboard/add-training" >
        <div class="parent-icon"><i class="bx bx-add-to-queue"></i>
        </div>
        <div class="menu-title">Mes Formations</div>
      </a>

      <a href="/dashboard/favoris" >
        <div class="parent-icon"><i class="bx bx-bookmark-heart"></i>
        </div>
        <div class="menu-title">Favoris</div>
      </a>
      
      <a href="/dashboard/settings">
        <div class="parent-icon"><i class="bx bx-cog"></i>
        </div>
        <div class="menu-title">Settings</div>
      </a>

      <a href="/dashboard/categories">
        <div class="parent-icon"><i class='bx bx-category'></i>
        </div>
        <div class="menu-title">Categories</div>
      </a>

      <a routerLink="/">
        <div class="parent-icon"><i class='bx bx-home' ></i>
        </div>
        <div class="menu-title">Home</div>
      </a>

      <a class="cursor-pointer" (click)="disconnect()">
        <div class="parent-icon"><i class="bx bx-log-out"></i>
        </div>
        <div class="menu-title">Log out</div>
      </a>

    </li>

  </ul>
  <!--end navigation-->
</div>
