<section class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-8">
                <div class="title-block">
                    <h1>Sign Up</h1>
                    <ul class="header-bradcrumb justify-content-center">
                        <li><a routerLink="">Home</a></li>
                        <li class="active" aria-current="page">Sign Up</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding">
    <div class="container">
        <div class="what-look-bg gradient-bg pt-145 pb-130 pt-md-95 pb-md-80 pt-xs-95 pb-xs-80">
            <div class="container">
                <div class="row mb-85">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <mat-card class="what-box text-center mb-35 wow fadeInUp2">
                            <div class="what-box__icon mb-30">
                                <img src="../../../../assets/images/phone-operator.png" alt="">
                            </div>
                            <h3>Do you want to teach here?</h3>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed di nonumy eirmod tempor
                                invidunt ut
                                labore et dolore magn aliq erat.</p>
                            <a routerLink="/signup-center" class="btn btn-main-2 btn-sm-2 rounded">Register Now</a>
                        </mat-card>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <mat-card class="what-box text-center mb-35 wow fadeInUp2">
                            <div class="what-box__icon mb-30">
                                <img src="../../../../assets/images/graduate.png" alt="">
                            </div>
                            <h3>Do you want to learn here?</h3>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed di nonumy eirmod tempor
                                invidunt ut
                                labore et dolore magn aliq erat.</p>
                            <a routerLink="/signup-candidat" class="btn btn-main-2 btn-sm-2 rounded">Register Now</a>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
