<div class="wrapper">
    <div class="page-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Components</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Cards</li>
                        </ol>
                    </nav>
                </div>
                <div class="ms-auto">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">Settings</button>
                        <button type="button"
                                class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split"
                                data-bs-toggle="dropdown"><span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end"><a class="dropdown-item"
                                                                                               href="javascript:;">Action</a>
                            <a class="dropdown-item" href="javascript:;">Another action</a>
                            <a class="dropdown-item" href="javascript:;">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:;">Separated link</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end breadcrumb-->


            <h6 class="mb-0 text-uppercase">Card with list group</h6>
            <hr/>
            <div class="row row-cols-1 row-cols-md-1 row-cols-lg-3 row-cols-xl-3">
                <div class="col">
                    <div class="card bg-gradient-cosmic shadow rounded-4 overflow-hidden">
                        <img src="assets/images/gallery/01.png" class="img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-white">Card title</h5>
                            <p class="card-text text-white">Some quick example text to build on the card title and make
                                up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-transparent text-white">Cras justo odio</li>
                            <li class="list-group-item bg-transparent text-white">Dapibus ac facilisis in</li>
                            <li class="list-group-item bg-transparent text-white">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="javascript:;" class="card-link text-white">Card link</a>
                            <a href="javascript:;" class="card-link text-white">Another link</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-gradient-burning shadow rounded-4 overflow-hidden">
                        <img src="assets/images/gallery/02.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-white">Card title</h5>
                            <p class="card-text text-white">Some quick example text to build on the card title and make
                                up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-transparent text-white">Cras justo odio</li>
                            <li class="list-group-item bg-transparent text-white">Dapibus ac facilisis in</li>
                            <li class="list-group-item bg-transparent text-white">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="javascript:;" class="card-link text-white">Card link</a>
                            <a href="javascript:;" class="card-link text-white">Another link</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-gradient-moonlit shadow rounded-4 overflow-hidden">
                        <img src="assets/images/gallery/03.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-white">Card title</h5>
                            <p class="card-text text-white">Some quick example text to build on the card title and make
                                up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-transparent text-white">Cras justo odio</li>
                            <li class="list-group-item bg-transparent text-white">Dapibus ac facilisis in</li>
                            <li class="list-group-item bg-transparent text-white">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="javascript:;" class="card-link text-white">Card link</a>
                            <a href="javascript:;" class="card-link text-white">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end row-->


            <h6 class="mb-0 text-uppercase">Card with texture background</h6>
            <hr/>
            <div class="row row-cols-1 row-cols-md-1 row-cols-lg-3 row-cols-xl-3">
                <div class="col d-flex">
                    <div class="card w-100 rounded-4 bg-texture-wave-a shadow">
                        <div class="card-header border-light-2">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h6 class="mb-0 text-white">New Users</h6>
                                </div>
                                <div class="dropdown ms-auto">
                                    <a class="dropdown-toggle dropdown-toggle-nocaret" href="#"
                                       data-bs-toggle="dropdown"><i
                                            class='bx bx-dots-horizontal-rounded font-22 text-white'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="javascript:;">Action</a>
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:;">Another action</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:;">Something else here</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-transparent border-light-2">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/images/avatars/avatar-1.png" width="45" height="45"
                                         class="rounded-circle" alt="">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0 text-white">Nik Jhonson</h6>
                                        <p class="mb-0 text-white">jhon@xyz.com</p>
                                    </div>
                                    <a href="javascript:;" class="btn btn-transpartent btn-sm rounded-5 px-4">Add</a>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent border-light-2">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/images/avatars/avatar-2.png" width="45" height="45"
                                         class="rounded-circle" alt="">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0 text-white">David Sinora</h6>
                                        <p class="mb-0 text-white">davi@xyz.com</p>
                                    </div>
                                    <a href="javascript:;" class="btn btn-transpartent btn-sm rounded-5 px-4">Add</a>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent border-light-2">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/images/avatars/avatar-3.png" width="45" height="45"
                                         class="rounded-circle" alt="">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0 text-white">Rabata lun</h6>
                                        <p class="mb-0 text-white">lun@xyz.com</p>
                                    </div>
                                    <a href="javascript:;" class="btn btn-transpartent btn-sm rounded-5 px-4">Add</a>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent border-light-2">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/images/avatars/avatar-4.png" width="45" height="45"
                                         class="rounded-circle" alt="">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0 text-white">Selina Ketty</h6>
                                        <p class="mb-0 text-white">selina@xyz.com</p>
                                    </div>
                                    <a href="javascript:;" class="btn btn-transpartent btn-sm rounded-5 px-4">Add</a>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent border-light-2">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/images/avatars/avatar-5.png" width="45" height="45"
                                         class="rounded-circle" alt="">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0 text-white">Bumtila</h6>
                                        <p class="mb-0 text-white">bumtila@xyz.com</p>
                                    </div>
                                    <a href="javascript:;" class="btn btn-transpartent btn-sm rounded-5 px-4">Add</a>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent border-light-2">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/images/avatars/avatar-6.png" width="45" height="45"
                                         class="rounded-circle" alt="">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0 text-white">Nik Jhonson</h6>
                                        <p class="mb-0 text-white">jhon@xyz.com</p>
                                    </div>
                                    <a href="javascript:;" class="btn btn-transpartent btn-sm rounded-5 px-4">Add</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col d-flex">
                    <div class="card w-100 rounded-4 bg-texture-wave-b shadow">
                        <div class="card-header border-light-2">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h6 class="mb-0 text-white">New Users</h6>
                                </div>
                                <div class="dropdown ms-auto">
                                    <a class="dropdown-toggle dropdown-toggle-nocaret" href="#"
                                       data-bs-toggle="dropdown"><i
                                            class='bx bx-dots-horizontal-rounded font-22 text-white'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="javascript:;">Action</a>
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:;">Another action</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:;">Something else here</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-transparent border-light-2">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/images/avatars/avatar-1.png" width="45" height="45"
                                         class="rounded-circle" alt="">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0 text-white">Nik Jhonson</h6>
                                        <p class="mb-0 text-white">jhon@xyz.com</p>
                                    </div>
                                    <a href="javascript:;" class="btn btn-transpartent btn-sm rounded-5 px-4">Add</a>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent border-light-2">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/images/avatars/avatar-2.png" width="45" height="45"
                                         class="rounded-circle" alt="">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0 text-white">David Sinora</h6>
                                        <p class="mb-0 text-white">davi@xyz.com</p>
                                    </div>
                                    <a href="javascript:;" class="btn btn-transpartent btn-sm rounded-5 px-4">Add</a>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent border-light-2">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/images/avatars/avatar-3.png" width="45" height="45"
                                         class="rounded-circle" alt="">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0 text-white">Rabata lun</h6>
                                        <p class="mb-0 text-white">lun@xyz.com</p>
                                    </div>
                                    <a href="javascript:;" class="btn btn-transpartent btn-sm rounded-5 px-4">Add</a>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent border-light-2">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/images/avatars/avatar-4.png" width="45" height="45"
                                         class="rounded-circle" alt="">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0 text-white">Selina Ketty</h6>
                                        <p class="mb-0 text-white">selina@xyz.com</p>
                                    </div>
                                    <a href="javascript:;" class="btn btn-transpartent btn-sm rounded-5 px-4">Add</a>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent border-light-2">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/images/avatars/avatar-5.png" width="45" height="45"
                                         class="rounded-circle" alt="">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0 text-white">Bumtila</h6>
                                        <p class="mb-0 text-white">bumtila@xyz.com</p>
                                    </div>
                                    <a href="javascript:;" class="btn btn-transpartent btn-sm rounded-5 px-4">Add</a>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent border-light-2">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/images/avatars/avatar-6.png" width="45" height="45"
                                         class="rounded-circle" alt="">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0 text-white">Nik Jhonson</h6>
                                        <p class="mb-0 text-white">jhon@xyz.com</p>
                                    </div>
                                    <a href="javascript:;" class="btn btn-transpartent btn-sm rounded-5 px-4">Add</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col d-flex">
                    <div class="card w-100 rounded-4 bg-texture-wave-c shadow">
                        <div class="card-header border-light-2">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h6 class="mb-0 text-white">New Users</h6>
                                </div>
                                <div class="dropdown ms-auto">
                                    <a class="dropdown-toggle dropdown-toggle-nocaret" href="#"
                                       data-bs-toggle="dropdown"><i
                                            class='bx bx-dots-horizontal-rounded font-22 text-white'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="javascript:;">Action</a>
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:;">Another action</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:;">Something else here</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-transparent border-light-2">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/images/avatars/avatar-1.png" width="45" height="45"
                                         class="rounded-circle" alt="">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0 text-white">Nik Jhonson</h6>
                                        <p class="mb-0 text-white">jhon@xyz.com</p>
                                    </div>
                                    <a href="javascript:;" class="btn btn-transpartent btn-sm rounded-5 px-4">Add</a>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent border-light-2">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/images/avatars/avatar-2.png" width="45" height="45"
                                         class="rounded-circle" alt="">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0 text-white">David Sinora</h6>
                                        <p class="mb-0 text-white">davi@xyz.com</p>
                                    </div>
                                    <a href="javascript:;" class="btn btn-transpartent btn-sm rounded-5 px-4">Add</a>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent border-light-2">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/images/avatars/avatar-3.png" width="45" height="45"
                                         class="rounded-circle" alt="">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0 text-white">Rabata lun</h6>
                                        <p class="mb-0 text-white">lun@xyz.com</p>
                                    </div>
                                    <a href="javascript:;" class="btn btn-transpartent btn-sm rounded-5 px-4">Add</a>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent border-light-2">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/images/avatars/avatar-4.png" width="45" height="45"
                                         class="rounded-circle" alt="">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0 text-white">Selina Ketty</h6>
                                        <p class="mb-0 text-white">selina@xyz.com</p>
                                    </div>
                                    <a href="javascript:;" class="btn btn-transpartent btn-sm rounded-5 px-4">Add</a>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent border-light-2">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/images/avatars/avatar-5.png" width="45" height="45"
                                         class="rounded-circle" alt="">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0 text-white">Bumtila</h6>
                                        <p class="mb-0 text-white">bumtila@xyz.com</p>
                                    </div>
                                    <a href="javascript:;" class="btn btn-transpartent btn-sm rounded-5 px-4">Add</a>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent border-light-2">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/images/avatars/avatar-6.png" width="45" height="45"
                                         class="rounded-circle" alt="">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0 text-white">Nik Jhonson</h6>
                                        <p class="mb-0 text-white">jhon@xyz.com</p>
                                    </div>
                                    <a href="javascript:;" class="btn btn-transpartent btn-sm rounded-5 px-4">Add</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end row-->

            <h6 class="mb-0 text-uppercase">Profile Card</h6>
            <hr/>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-xl-4">
                <div class="col">
                    <div class="card rounded-4 shadow bg-gradient-rainbow">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <a href="javascript:;" class="fs-3 text-white"><i class='bx bx-share-alt'></i></a>
                                <div class="dropdown">
                                    <a class="dropdown-toggle dropdown-toggle-nocaret" href="#"
                                       data-bs-toggle="dropdown"><i
                                            class='bx bx-dots-vertical-rounded fs-3 text-white'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="javascript:;">Action</a>
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:;">Another action</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:;">Something else here</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="profile-card-img text-center my-5">
                                <img src="assets/images/avatars/avatar-1.png" width="110" height="110"
                                     class="rounded-circle border border-white border-4" alt="">
                            </div>
                            <div class="text-center">
                                <h5 class="mb-1 text-white">David Jhonson</h5>
                                <p class="mb-0 text-white">UI/UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4 shadow bg-gradient-veer">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <a href="javascript:;" class="fs-3 text-white"><i class='bx bx-share-alt'></i></a>
                                <div class="dropdown">
                                    <a class="dropdown-toggle dropdown-toggle-nocaret" href="#"
                                       data-bs-toggle="dropdown"><i
                                            class='bx bx-dots-vertical-rounded fs-3 text-white'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="javascript:;">Action</a>
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:;">Another action</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:;">Something else here</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="profile-card-img text-center my-5">
                                <img src="assets/images/avatars/avatar-2.png" width="110" height="110"
                                     class="rounded-circle border border-white border-4" alt="">
                            </div>
                            <div class="text-center">
                                <h5 class="mb-1 text-white">Michel Oliver</h5>
                                <p class="mb-0 text-white">Project Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4 shadow bg-gradient-worldcup">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <a href="javascript:;" class="fs-3 text-white"><i class='bx bx-share-alt'></i></a>
                                <div class="dropdown">
                                    <a class="dropdown-toggle dropdown-toggle-nocaret" href="#"
                                       data-bs-toggle="dropdown"><i
                                            class='bx bx-dots-vertical-rounded fs-3 text-white'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="javascript:;">Action</a>
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:;">Another action</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:;">Something else here</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="profile-card-img text-center my-5">
                                <img src="assets/images/avatars/avatar-3.png" width="110" height="110"
                                     class="rounded-circle border border-white border-4" alt="">
                            </div>
                            <div class="text-center">
                                <h5 class="mb-1 text-white">Maxwell Olivia</h5>
                                <p class="mb-0 text-white">Human Resource</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4 shadow bg-gradient-pinki">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <a href="javascript:;" class="fs-3 text-white"><i class='bx bx-share-alt'></i></a>
                                <div class="dropdown">
                                    <a class="dropdown-toggle dropdown-toggle-nocaret" href="#"
                                       data-bs-toggle="dropdown"><i
                                            class='bx bx-dots-vertical-rounded fs-3 text-white'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="javascript:;">Action</a>
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:;">Another action</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:;">Something else here</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="profile-card-img text-center my-5">
                                <img src="assets/images/avatars/avatar-4.png" width="110" height="110"
                                     class="rounded-circle border border-white border-4" alt="">
                            </div>
                            <div class="text-center">
                                <h5 class="mb-1 text-white">William Otava</h5>
                                <p class="mb-0 text-white">UI Developer</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card rounded-4 shadow bg-gradient-info">
                        <div class="card-body">
                            <div class="profile-card-img text-center mt-3">
                                <img src="assets/images/avatars/avatar-5.png" width="110" height="110"
                                     class="rounded-circle border border-white border-4" alt="">
                            </div>
                            <div class="text-center mt-5">
                                <h5 class="mb-1 text-white">William Otava</h5>
                                <p class="mb-0 text-white">UI Developer</p>
                                <div class="list-inline contacts-social my-4">
                                    <a href="javascript:;" class="list-inline-item border-0 text-facebook"><i
                                            class="bx bxl-facebook"></i></a>
                                    <a href="javascript:;" class="list-inline-item border-0 text-twitter"><i
                                            class="bx bxl-twitter"></i></a>
                                    <a href="javascript:;" class="list-inline-item border-0 text-linkedin"><i
                                            class="bx bxl-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4 shadow bg-gradient-danger">
                        <div class="card-body">
                            <div class="profile-card-img text-center mt-3">
                                <img src="assets/images/avatars/avatar-6.png" width="110" height="110"
                                     class="rounded-circle border border-white border-4" alt="">
                            </div>
                            <div class="text-center mt-5">
                                <h5 class="mb-1 text-white">William Otava</h5>
                                <p class="mb-0 text-white">UI Developer</p>
                                <div class="list-inline contacts-social my-4">
                                    <a href="javascript:;" class="list-inline-item border-0 text-facebook"><i
                                            class="bx bxl-facebook"></i></a>
                                    <a href="javascript:;" class="list-inline-item border-0 text-twitter"><i
                                            class="bx bxl-twitter"></i></a>
                                    <a href="javascript:;" class="list-inline-item border-0 text-linkedin"><i
                                            class="bx bxl-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4 shadow bg-gradient-secondary">
                        <div class="card-body">
                            <div class="profile-card-img text-center mt-3">
                                <img src="assets/images/avatars/avatar-7.png" width="110" height="110"
                                     class="rounded-circle border border-white border-4" alt="">
                            </div>
                            <div class="text-center mt-5">
                                <h5 class="mb-1 text-white">William Otava</h5>
                                <p class="mb-0 text-white">UI Developer</p>
                                <div class="list-inline contacts-social my-4">
                                    <a href="javascript:;" class="list-inline-item border-0 text-facebook"><i
                                            class="bx bxl-facebook"></i></a>
                                    <a href="javascript:;" class="list-inline-item border-0 text-twitter"><i
                                            class="bx bxl-twitter"></i></a>
                                    <a href="javascript:;" class="list-inline-item border-0 text-linkedin"><i
                                            class="bx bxl-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4 shadow bg-gradient-success">
                        <div class="card-body">
                            <div class="profile-card-img text-center mt-3">
                                <img src="assets/images/avatars/avatar-8.png" width="110" height="110"
                                     class="rounded-circle border border-white border-4" alt="">
                            </div>
                            <div class="text-center mt-5">
                                <h5 class="mb-1 text-white">William Otava</h5>
                                <p class="mb-0 text-white">UI Developer</p>
                                <div class="list-inline contacts-social my-4">
                                    <a href="javascript:;" class="list-inline-item border-0 text-facebook"><i
                                            class="bx bxl-facebook"></i></a>
                                    <a href="javascript:;" class="list-inline-item border-0 text-twitter"><i
                                            class="bx bxl-twitter"></i></a>
                                    <a href="javascript:;" class="list-inline-item border-0 text-linkedin"><i
                                            class="bx bxl-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end row-->

            <h6 class="mb-0 text-uppercase">Image Card</h6>
            <hr/>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-xl-3">
                <div class="col">
                    <div class="card rounded-4 overflow-hidden">
                        <img src="assets/images/gallery/04.png" class="img-fluid " alt="">
                        <div class="card-badge position-absolute start-0 top-0 p-3">
                            <span class="px-2 py-1 bg-gradient-success rounded-4 text-white"><i
                                    class='bx bx-trending-up'></i> Trend</span>
                        </div>
                        <div class="card-body">
                            <div class="hstack mb-3 justify-content-between">
                                <div>
                                    <h6 class="mb-0 d-flex gap-2">Free Coffee</h6>
                                </div>
                                <p class="mb-0">75%</p>
                            </div>
                            <div class="progress" style="height: 5px;">
                                <div class="progress-bar bg-gradient-success" role="progressbar"
                                     style="width: 65%"></div>
                            </div>
                            <p class="mt-3 mb-0">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4 overflow-hidden">
                        <img src="assets/images/gallery/05.png" class="img-fluid " alt="">
                        <div class="card-badge position-absolute start-0 top-0 p-3">
                            <span class="px-2 py-1 bg-gradient-danger rounded-4 text-white"><i
                                    class='bx bx-trending-up'></i> Trend</span>
                        </div>
                        <div class="card-body">
                            <div class="hstack mb-3 justify-content-between">
                                <div>
                                    <h6 class="mb-0 d-flex gap-2">Free Coffee</h6>
                                </div>
                                <p class="mb-0">75%</p>
                            </div>
                            <div class="progress" style="height: 5px;">
                                <div class="progress-bar bg-gradient-danger" role="progressbar"
                                     style="width: 65%"></div>
                            </div>
                            <p class="mt-3 mb-0">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4 overflow-hidden">
                        <img src="assets/images/gallery/06.png" class="img-fluid " alt="">
                        <div class="card-badge position-absolute start-0 top-0 p-3">
                            <span class="px-2 py-1 bg-gradient-secondary rounded-4 text-white"><i
                                    class='bx bx-trending-up'></i> Trend</span>
                        </div>
                        <div class="card-body">
                            <div class="hstack mb-3 justify-content-between">
                                <div>
                                    <h6 class="mb-0 d-flex gap-2">Free Coffee</h6>
                                </div>
                                <p class="mb-0">75%</p>
                            </div>
                            <div class="progress" style="height: 5px;">
                                <div class="progress-bar bg-gradient-secondary" role="progressbar"
                                     style="width: 65%"></div>
                            </div>
                            <p class="mt-3 mb-0">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>

            </div><!--end row-->


            <h6 class="mb-0 text-uppercase">Post Card</h6>
            <hr/>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-xl-3">
                <div class="col">
                    <div class="card rounded-4 overflow-hidden">
                        <div class="card-body">
                            <img src="assets/images/gallery/07.png" class="img-fluid rounded-4" alt="">
                            <div class="d-flex align-items-center gap-4 mt-4">
                                <div class="posted-by">
                                    <p class="mb-0"><i class="bx bx-user me-2"></i>Virendra</p>
                                </div>
                                <div class="posted-date">
                                    <p class="mb-0"><i class="bx bx-calendar-alt me-2"></i>15 Aug, 2022</p>
                                </div>
                            </div>
                            <h5 class="card-title mt-3">Blog title here</h5>
                            <p class="mb-0">Some quick example text to build on the card title and make.</p>
                            <a href="javascript:;" class="btn btn-gradient-primary btn-ecomm mt-3 rounded-4 px-4">Read
                                More</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4 overflow-hidden">
                        <div class="card-body">
                            <img src="assets/images/gallery/08.png" class="img-fluid rounded-4" alt="">
                            <div class="d-flex align-items-center gap-4 mt-4">
                                <div class="posted-by">
                                    <p class="mb-0"><i class="bx bx-user me-2"></i>Virendra</p>
                                </div>
                                <div class="posted-date">
                                    <p class="mb-0"><i class="bx bx-calendar-alt me-2"></i>15 Aug, 2022</p>
                                </div>
                            </div>
                            <h5 class="card-title mt-3">Blog title here</h5>
                            <p class="mb-0">Some quick example text to build on the card title and make.</p>
                            <a href="javascript:;" class="btn btn-gradient-danger btn-ecomm mt-3 rounded-4 px-4">Read
                                More</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4 overflow-hidden">
                        <div class="card-body">
                            <img src="assets/images/gallery/09.png" class="img-fluid rounded-4" alt="">
                            <div class="d-flex align-items-center gap-4 mt-4">
                                <div class="posted-by">
                                    <p class="mb-0"><i class="bx bx-user me-2"></i>Virendra</p>
                                </div>
                                <div class="posted-date">
                                    <p class="mb-0"><i class="bx bx-calendar-alt me-2"></i>15 Aug, 2022</p>
                                </div>
                            </div>
                            <h5 class="card-title mt-3">Blog title here</h5>
                            <p class="mb-0">Some quick example text to build on the card title and make.</p>
                            <a href="javascript:;" class="btn btn-gradient-info btn-ecomm mt-3 rounded-4 px-4">Read
                                More</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card rounded-4 overflow-hidden bg-gradient-pinki">
                        <div class="card-body text-white">
                            <img src="assets/images/gallery/15.png" class="img-fluid rounded-4" alt="">
                            <div class="d-flex align-items-center gap-4 mt-4">
                                <div class="posted-by">
                                    <p class="mb-0"><i class="bx bx-user me-2"></i>Virendra</p>
                                </div>
                                <div class="posted-date">
                                    <p class="mb-0"><i class="bx bx-calendar-alt me-2"></i>15 Aug, 2022</p>
                                </div>
                            </div>
                            <h5 class="card-title mt-3 text-white">Blog title here</h5>
                            <p class="mb-0">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
                                quo minus id quod maxime placeat facere possimus</p>
                            <a href="javascript:;" class="btn btn-light btn-ecomm mt-3 rounded-4 px-4">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4 overflow-hidden bg-gradient-worldcup">
                        <div class="card-body text-white">
                            <img src="assets/images/gallery/16.png" class="img-fluid rounded-4" alt="">
                            <div class="d-flex align-items-center gap-4 mt-4">
                                <div class="posted-by">
                                    <p class="mb-0"><i class="bx bx-user me-2"></i>Virendra</p>
                                </div>
                                <div class="posted-date">
                                    <p class="mb-0"><i class="bx bx-calendar-alt me-2"></i>15 Aug, 2022</p>
                                </div>
                            </div>
                            <h5 class="card-title mt-3 text-white">Blog title here</h5>
                            <p class="mb-0">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
                                quo minus id quod maxime placeat facere possimus</p>
                            <a href="javascript:;" class="btn btn-light btn-ecomm mt-3 rounded-4 px-4">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4 overflow-hidden bg-gradient-moonlit">
                        <div class="card-body text-white">
                            <img src="assets/images/gallery/03.png" class="img-fluid rounded-4" alt="">
                            <div class="d-flex align-items-center gap-4 mt-4">
                                <div class="posted-by">
                                    <p class="mb-0"><i class="bx bx-user me-2"></i>Virendra</p>
                                </div>
                                <div class="posted-date">
                                    <p class="mb-0"><i class="bx bx-calendar-alt me-2"></i>15 Aug, 2022</p>
                                </div>
                            </div>
                            <h5 class="card-title mt-3 text-white">Blog title here</h5>
                            <p class="mb-0">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
                                quo minus id quod maxime placeat facere possimus</p>
                            <a href="javascript:;" class="btn btn-light btn-ecomm mt-3 rounded-4 px-4">Read More</a>
                        </div>
                    </div>
                </div>
            </div><!--end row-->


            <h6 class="mb-0 text-uppercase">Post Card</h6>
            <hr/>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-xl-4">
                <div class="col">
                    <div class="card rounded-4 bg-gradient-linga">
                        <div class="card-body">
                            <p class="mb-0 text-white">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4 bg-gradient-esinto">
                        <div class="card-body">
                            <p class="mb-0 text-white">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4 bg-gradient-dunada">
                        <div class="card-body">
                            <p class="mb-0 text-white">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4 bg-gradient-rino">
                        <div class="card-body">
                            <p class="mb-0 text-white">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book</p>
                        </div>
                    </div>
                </div>
            </div><!--end row-->


        </div>
    </div>
    <!--end page wrapper -->
    <!--start overlay-->
    <div class="overlay toggle-icon"></div>
    <!--end overlay-->
    <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->
    <footer class="page-footer">
        <p class="mb-0">Copyright © 2021. All right reserved.</p>
    </footer>
</div>
