<div class="wrapper">
    <div class="page-wrapper">
        <div class="page-content">
            <div>
                <div class="card">
                    <div class="card-body p-4">
                        <div class="mb-3">

                        </div>
                        <div class="col-xl-6">
                            <label for="center" class="form-label">Add New Training To</label>
                            <select id="center" class="form-select"
                                    required
                                    [(ngModel)]="centerId"
                                    #center="ngModel"
                                    [class.is-invalid]="center.invalid && center.touched">
                                <option selected value="">choose a center</option>
                                <option *ngFor="let centre of centers" [value]="centre.id">{{centre.nom}}</option>
                            </select>
                        </div>
                        <div class="col-xl-6" *ngIf="center.errors && center.touched">
                            <small class="text-danger" *ngIf="center.errors['required']">you have to choose a
                                center</small>
                        </div>
                        <hr/>
                        <div class="form-body mt-4">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="border border-3 p-4 rounded">
                                        <div class="mb-3">
                                            <label for="trainingTitle" class="form-label">Training Title</label>
                                            <input type="text" class="form-control" id="trainingTitle"
                                                   placeholder="Enter training title" name="titre"
                                                   required
                                                   minlength="2"
                                                   [(ngModel)]="formation.titre"
                                                   #titre="ngModel"
                                                   [class.is-invalid]="titre.invalid && titre.touched">
                                        </div>
                                        <div class="mb-3" *ngIf="titre.errors && titre.touched">
                                            <small class="text-danger" *ngIf="titre.errors['minlength']">at least 2
                                                characters</small>
                                            <small class="text-danger" *ngIf="titre.errors['required']">title is
                                                required</small>
                                        </div>

                                        <div class="mb-3">
                                            <label for="category" class="form-label">Training Category</label>
                                            <select id="category" class="form-select"
                                                    required
                                                    [(ngModel)]="categorieId"
                                                    #category="ngModel"
                                                    [class.is-invalid]="category.invalid && category.touched">
                                                <option selected value="">choose a category</option>
                                                <option *ngFor="let categorie of categories"
                                                        [value]="categorie.id">{{categorie.nom}}</option>
                                            </select>
                                        </div>
                                        <div class="mb-3" *ngIf="category.errors && category.touched">
                                            <small class="text-danger" *ngIf="category.errors['required']">you have to
                                                choose a
                                                category</small>
                                        </div>

                                        <div class="mb-3">
                                            <label for="trainingDescription" class="form-label">Description</label>
                                            <textarea class="form-control" id="trainingDescription" rows="3"
                                                      name="description" [(ngModel)]="formation.description"
                                                      minlength="10"
                                                      required
                                                      #description="ngModel"
                                                      [class.is-invalid]="description.invalid && description.touched">

                                            </textarea>
                                        </div>
                                        <div class="mb-3" *ngIf="description.errors && description.touched">
                                            <small class="text-danger" *ngIf="description.errors['minlength']">at least
                                                10
                                                characters</small>
                                            <small class="text-danger" *ngIf="description.errors['required']">description
                                                is
                                                required</small>
                                        </div>


                                        <div class="mb-3">
                                            <label for="trainingImg" class="form-label">Training
                                                Images</label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input cursor-pointer"
                                                       id="trainingImg"
                                                       accept="image/*"
                                                       required
                                                       multiple name="img" [(ngModel)]="formation.img"
                                                       #img="ngModel"
                                                       [class.is-invalid]="img.invalid && img.touched">
                                                <label class="custom-file-label cursor-pointer" for="trainingImg">Choose
                                                    image</label>
                                            </div>
                                        </div>
                                        <div class="mb-3" *ngIf="img.errors && img.touched">
                                            <small class="text-danger" *ngIf="img.errors['required']">Image is
                                                required</small>
                                        </div>


                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="border border-3 p-4 rounded">
                                        <div class="mb-3">
                                            <label for="trainingDateDebut" class="form-label">start Date</label>
                                            <input type="date" class="form-control" id="trainingDateDebut"
                                                   name="dateDebut"
                                                   [(ngModel)]="formation.dateDebut"
                                                   required
                                                   #dateDebut="ngModel"
                                                   [class.is-invalid]="dateDebut.invalid && dateDebut.touched">
                                        </div>
                                        <div class="mb-3" *ngIf="dateDebut.errors && dateDebut.touched">
                                            <small class="text-danger" *ngIf="dateDebut.errors['required']">start date
                                                is
                                                required</small>
                                        </div>


                                        <div class="mb-3">
                                            <label for="trainingDateFin" class="form-label">End Date</label>
                                            <input type="date" class="form-control" id="trainingDateFin"
                                                   name="dateFin"
                                                   [(ngModel)]="formation.dateFin"
                                                   required
                                                   #dateFin="ngModel"
                                                   [class.is-invalid]="dateFin.invalid && dateFin.touched">
                                        </div>
                                        <div class="mb-3" *ngIf="dateFin.errors && dateFin.touched">
                                            <small class="text-danger" *ngIf="dateFin.errors['required']">end date
                                                is
                                                required</small>
                                        </div>


                                        <div class="mb-3">
                                            <label for="trainingPrice" class="form-label">Price</label>
                                            <input type="number" class="form-control" id="trainingPrice"
                                                   placeholder="00.00"
                                                   name="prix"
                                                   [(ngModel)]="formation.prix"
                                                   required
                                                   #prix="ngModel"
                                                   [class.is-invalid]="prix.invalid && prix.touched">
                                        </div>
                                        <div class="mb-3" *ngIf="prix.errors && prix.touched">
                                            <small class="text-danger" *ngIf="prix.errors['required']">price
                                                is
                                                required</small>
                                        </div>


                                        <div class="mb-3">
                                            <label for="trainingNbMax" class="form-label">Maximum Students</label>
                                            <input type="number" class="form-control" id="trainingNbMax"
                                                   name="nbMaxCan"
                                                   [(ngModel)]="formation.nbMaxCan"
                                                   required
                                                   #nbMaxCan="ngModel"
                                                   [class.is-invalid]="nbMaxCan.invalid && nbMaxCan.touched">
                                        </div>
                                        <div class="mb-3" *ngIf="nbMaxCan.errors && nbMaxCan.touched">
                                            <small class="text-danger" *ngIf="nbMaxCan.errors['required']">maximum
                                                students
                                                is
                                                required</small>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-lg-12 mt-4">
                                    <div class="border border-3 p-4 rounded">
                                        <form [formGroup]="form">
                                            <div formArrayName="session">
                                                <div *ngFor="let sessionGroup of session?.controls; let i = index"
                                                     [formGroupName]="i">
                                                    <h4>Session {{i + 1}}</h4>
                                                    <div class="mb-3">
                                                        <label for="date" class="form-label">Start
                                                            date</label>
                                                        <input type="date" class="form-control" id="date"
                                                               placeholder="Enter training title" name="date"
                                                               formControlName="date"
                                                               required>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="heureDebut" class="form-label">Start
                                                            time</label>
                                                        <input type="time" class="form-control" id="heureDebut"
                                                               name="heureDebut"
                                                               formControlName="heureDebut" required>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="heureFin" class="form-label">End
                                                            time</label>
                                                        <input type="time" class="form-control" id="heureFin"
                                                               name="heureFin"
                                                               formControlName="heureFin" required>
                                                    </div>

                                                </div>

                                            </div>

                                            <button class="btn btn-primary" [disabled]="form.invalid"
                                                    (click)="addSession()">Add session
                                            </button>

                                        </form>

                                        <div class="d-grid m-2">
                                            <button type="button" class="btn btn-primary" (click)="addFormation()"
                                                    [disabled]="category.errors || center.errors || titre.errors || description.errors || img.errors || dateDebut.errors || dateFin.errors || prix.errors || nbMaxCan.errors || form.invalid">
                                                Save Training
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row" *ngFor="let center of centers">
                    <div class="card">
                        <div class="card-header">
                            <h3>{{center.nom}}</h3>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <h1 *ngIf="center.formations.length == 0">0 Training</h1>
                                    <div class="row" *ngIf="center.formations.length != 0">
                                        <div class="course-item cat1 cat5 col-lg-3 col-md-6 col-sm-6"
                                             *ngFor="let course of center.formations">
                                            <div class=" course-style-5 bg-white">
                                                <div class="course-header">
                                                    <div class="course-thumb">
                                                        <img src="assets/images/course/img_05.jpg" alt=""
                                                             class="img-fluid">
                                                        <div class="course-price">{{course.prix}} TND</div>
                                                    </div>
                                                </div>

                                                <div class="course-content">
                                                    <div class="course-meta meta-style-1">
                                            <span class="lessons"><i
                                                    class="far fa-play-circle me-2"></i>26 Lectures</span>
                                                        <span class="label">Beginner</span>
                                                    </div>
                                                    <h4><a href="#">{{course.titre}}</a></h4>

                                                    <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                                            <span class="students"><i
                                                    class="far fa-user-alt me-2"></i>{{course.nbMaxCan}} Students</span>
                                                        <a (click)="getDetails(course.id)" class="rounded-btn"><i
                                                                class="fa fa-long-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
